body {
  padding: 15px 20px;
}

.header {
  display: flex;
  justify-content: space-between;

  .logo {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: crimson;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
  }

  ul {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  li {
    margin: 0 20px;
    list-style: none;
    transition: 0.4s ease;
    text-transform: uppercase;
  }

  .active {
    color: red;
  }
}

.card {
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  justify-items: center; /* центрує об'єкти по горизонталі всієї сітки */
  align-items: center; /* центрує об'єкти по вертикалі всієї сітки */

  .card_item {
    border: 1px solid crimson;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    text-align: center;

    h2 {
      text-align: center;
      font-size: 16px;
      margin-bottom: 8px;
    }

    b {
      font-size: 14px;
      color: crimson;
      font-weight: bold;
    }

    img {
      margin-top: 17px;
      transition: all 0.5s ease;
      padding-left: 16px;
      border-radius: 50%;
    }

    img:hover {
      transform: scale(1.02);
    }

    .modal__btn-wrapper {
      display: flex;
      justify-content: center;
    }

    button {
      background-color: black;
      color: crimson;
      border: none;
      padding: 8px 16px;
      cursor: pointer;
      font-size: 14px;
      border-radius: 4px;
      transition: background-color 0.3s ease-in-out;

    }
  }
}


.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;

  .modal__txt {
    text-transform: uppercase;
    color: crimson;
    font-size: 14px;
    text-align: center;
  }

  p {
    margin-bottom: 15px;
  }

  button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;

  }
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}

.showNoting {
  margin-top: 40px;
  font-size: 16px;
  text-align: center;
}

.showBuy {
  position: absolute;
  border-radius: 5px;
  z-index: 10;
  background-color: darkslategrey;
  top: 91px;
  right: 120px;
  min-height: 100px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.star-saved {
  text-align: center;
  text-transform: uppercase;
  color: crimson;
}

.buy-item {
  position: relative;
  border: 1px solid crimson;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 199px;

  img {
    max-width: 100%;
    height: 100px;

    margin-bottom: 8px;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 4px;
  }

  b {
    font-size: 16px;
    color: #008000;
  }
}

.icon-buy {
  margin: 0 10px;
}

.star-active {
  color: orange;
}

.showStar {
  position: absolute;
  z-index: 10;
  background-color: silver;
  top: 91px;
  left: 70%;
  min-height: 100px;
  width: 300px;
  border: 1px solid orange;
}

.oder_counter {
  margin: 0 5px;
}

.star_counter {
  margin: 0 5px;
}

.delete {
  position: absolute;
  top: 17px;
  right: 17px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.delete:hover {
  color: #4ae97f

}

.unActive-btn {
  background-color: #555;
  color: #555;
}